*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left:-12px;
    margin-top:-12px;

}
.d-flex{
    display: flex;
    flex-wrap: wrap;

}
.justify-start{
    justify-content: flex-start;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.flex-column{
    flex-direction: column;
}   
.align-center{
    align-items: center;
}


.w-1{
	width:8.33%;
}
.w-2{
	width:16.66%;
}
.w-3{
	width:25%;
}
.w-4{
	width:33.33%;
}
.w-5{
	width:41.66%;
}
.w-6{
	width:50%;
}
.w-7{
	width:58.33%;
}
.w-8{
	width:66.66%;
}
.w-9{
	width:75%;
}
.w-10{
	width:83.33%;
}
.w-11{
	width:91.66%;
}
.w-12{
	width:100%;
}

.w-1,.w-2,.w-3,.w-4,.w-5,.w-6,.w-7,.w-8,.w-9,.w-10,.w-11,.w-12{
	padding-left:12px;
	padding-right:12px;
	
}

body{
    color:white;
}
:root{

   
    --fs-14:14px;
    --fs-18:18px;
    --fs-24:24px;
    --fs-36:36px;
    --fs-48:48px;
    --fs-75:75px;
    --fs-82:82px;
    --fw-100:100;
    --fw-200:200;
    --fw-300:300;
    --fw-400:400;
    --fw-500:500;
    --fw-600:600;
    --fw-700:700;
    --fw-800:800;
    --fw-900:900;
    --primery-color:#FEAD10;
    --secondary-color:linear-gradient(90deg, var(--e-global-color-accent) 0%, var(--e-global-color-b31c910) 100%);
    --black-color:black;
    --para-color:#ffffff99;
    --purple-color: #AB17DF;
    --grey-color: #262626;
    --bg-color:rgb(6, 6, 33);
    --font1: 'Rajdhani';
    --font2: 'Nunito Sans 10pt';
    --white-color:white;
 
}




/* header start */

header{
    background-color:rgb(6, 6, 33);
    background-image: url(../img/bg-hero-home.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
   
}
header .menu ul li{
    margin-right: 35px;
    font-weight: var(--fw-600);
    font-family: 'Rajdhani';
    font-size: var(--fs-18);
    text-transform: capitalize;
    color:var(--white-color);
    cursor: pointer;
    transition: 1s;
}
header .menu ul li i{
    font-size: 14px;
    margin-left: 5px;
}
header .joinbtn button{
    padding:10px 25px;
    font-size: var(--fs-18);
    font-family: var(--font1);
    font-weight: var(--fw-600);
    color:var(--white-color);
    background: rgb(19,68,201);
    background: linear-gradient(90deg, rgba(19,68,201,1) 0%, rgba(149,29,253,1) 63%, rgba(241,69,252,1) 100%);
    border-radius: 5px;
    transition: 0.5s; border: 0;
   

}
header .menu ul li:hover{
    color:var(--purple-color);
    text-decoration: underline;
}
header .menu ul .first{
    color:var(--purple-color);
    text-decoration: underline;

}

header .joinbtn button:hover{
    transform: translateY(-9px);
}

/* header end */

/* banner start */

.banner{
    padding: 100px 0;
    padding-bottom: 0;

}    
.banner h3{
    font-size: var(--fs-82);
    font-family:var(--font1);
    position: relative;
    padding-left: 12px;
    line-height: 1;
    z-index: 1;
   


}
.banner p{
    font-size: 20px;
    font-family:var(--font2);
    margin-top:30px;
    word-spacing: 2px;
    margin-bottom: 33px;
    line-height: 1.6;
    color:var(--para-color);
  
}
.banner-content h3::after{
    position: absolute;
    content:'';
    box-sizing: border-box;
    background-color: var(--primery-color);
    width:130px;
    height: 38px;
    bottom:0%;
    z-index: -1;
    right:26%;
  

   
    
}
.banner button{
    width:180px;
    height: 60px;
    margin-right: 30px;
    margin-left: 12px;
    padding: 5px;
   
    background: rgb(19,68,201);
    background: linear-gradient(90deg, rgba(19,68,201,1) 0%, rgba(149,29,253,1) 63%, rgba(241,69,252,1) 100%);
    font-size: var(--fs-18);
    transition: 0.5s;
    text-transform: capitalize;
    border: 0;
    color:var(--white-color);
    font-weight: var(--fw-600);
    font-family: var(--font1);
   
}
.banner button:hover{
    transform: translateY(-08px);
}
.banner button i{
    margin-left: 10px;
}
.banner .btn2{
    background: transparent;
    background-color: transparent;
    color:var(--para-color);
    border: 1px solid var(--para-color);

}
.banner-image {
    position: relative;

}
.banner-image img{
    border-radius: 10px;
    z-index: 1;
}
.banner-image::after{
    position: absolute;
    content: '';
    box-sizing: border-box;
    height: 495px;
    width: 440px;
    bottom:-20px;
    right: 15px;
    border: 2px solid rgb(150, 33, 209);
    background-color: #0c0324;
    box-shadow: 0 0 2px 2px rgb(150, 33, 209) ;
    border-radius: 10px;
   
}

/* banner end */

/* story start */

.banner .our h5{
    text-align: center;
    margin-top: 100px;
    font-size: 22px;
    margin-bottom: 2px;
}
.banner .logo{
    margin-top: 50px;
}
.story  .logo img{
    opacity: 0.7;
    padding: 100px 0;
}
.story-image{
    position: relative;
}
.story-image p{
    font-size: 25px;
   
    font-weight: 800;
    color:white;
    background-color: rgba(128, 0, 128, 0.101);
    position: absolute;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.5);
    bottom:10%;
    left:10%;
    border-radius: 10px;
    padding: 20px 40px;
   
}
.story{
    background-color: #0c0324;
    font-family: rajdhani;
}
.story-content h1{
    font-size: 73px;
}
.story-content p{
    color:#ffffff99;
    font-size: 18px;
    margin-bottom: 32px;
    font-weight: 500;
    
}

.story-content a{
    color:#FEAD10;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 2px;

}

.story button{
    width:172px;
    height: 55px;
    margin-right: 32px;
    margin-left: 2px;
    font-size: var(--fs-18);
    padding: 5px;
    
    text-transform: capitalize;
    border: 0;
    background: linear-gradient(90deg, rgba(19,68,201,1) 0%, rgba(149,29,253,1) 63%, rgba(241,69,252,1) 100%);
    color:var(--white-color);
    background: rgb(19,68,201);
    font-weight: var(--fw-700);
    
    font-family: var(--font1);
 
    transition: 0.5s;
}
.story button:hover{
    transform: translateY(-8px);
}


/* story end */

/* collection start */

.collection{
    padding: 100px 200px;
    font-family: rajdhani;
    background-size: cover;
    background-color: #0c0324;
    background-image: url(../img/bg-boxstar.png);
    background-position: left;

}
.collection-title{
    text-align: center;
}
 .collection-title a{
    text-align: center;
    text-decoration: none;
    display: block;
    color:#FEAD10;
    font-weight: 800;
    font-size: 20px;
    padding-bottom: 18px;
    letter-spacing: 2px;
   

}
.collection-title h2{
    font-size: 70px;
    font-weight: 600;
}
.collection-title p{
    font-weight: 500;
    padding-bottom: 50px;
    color: grey;
    font-size: 18px;
}
.collection-image .four-box{
    background-color: rgba(128, 128, 128, 0.223);
    padding: 10px;
}

.collection-image .four-box p{
   
    background-color: rgba(8, 8, 47, 0.368);
    font-weight: 600;
    font-size: 18px;
    padding: 20px;
}
.collection button{
    border-radius: 10px;
    padding: 5px;
    margin:0 auto;
    display: block;
    width:225px;
    height: 60px;
   
    background: rgb(19,68,201);
    background: linear-gradient(90deg, rgba(19,68,201,1) 0%, rgba(149,29,253,1) 63%, rgba(241,69,252,1) 100%);
    margin-top: 45px;
    font-weight: var(--fw-600);
    text-transform: capitalize;
    border: 0;
    font-family: var(--font1);
    letter-spacing: 3px;
    font-size: var(--fs-18);
    transition: 0.5s; 
   
    color:var(--white-color);
    
 


}
.collection button:hover{
    transform: translateY(-8px);
}

/* collection end */

/* roadmap start */

.roadmap{
    padding: 100px 200px;
    background-image: url(../img/bg-boxstar.png);
    background-color: #0c0324;
    font-family: rajdhani;
    background-size: cover;
    background-position: center;
    

}
.roadmap-title{
    padding-bottom: 50px;
}
.roadmap-title a{
    font-size: 18px;
    color:#FEAD10;
    text-decoration: none;
    font-weight: 600;
}

.roadmap-title p{
    color:grey;
    font-weight: 600;
    font-size: 18px;
}
.roadmap-title h4{
    font-size: 75px;
}
.road-p1{
    background-image: url(../img/elipse-4.png);
     
    background-blend-mode: darken;
    background-repeat: no-repeat;

    border-radius: 50%;
    background-position: center;
     background-size: contain;
    background-color: rgba(0,0,0,0.1);
}
.roadmap-content .road-box h5{
    font-size: 24px;
    padding-bottom: 26px;

}
.roadmap-content .road-box a{
    color:#FEAD10;
    text-decoration: none;
}
.roadmap-content .road-box{
    padding: 20px;
    background-color: #5f5e6058;
    border-radius: 10px;
}

.roadmap-content .road-box p{
    font-size: 20px;
    font-weight: 500;
    word-spacing: 1px;
    color: grey;
    
}

/* roadmap end */


/* question start */

.faq{
    background-color: #0c0324;
background-image:url(../img/elipse-5.png) ;
    font-family: rajdhani;
   padding: 100px 200px 90px;
   
    background-repeat: no-repeat;
}
.faq a{
    
    text-decoration: none;
       font-weight: 600;
       color:#FEAD10;
    font-size: 18px;
}
.faq h1{
    font-size: 75px;
}
.faq p{
    font-size: 18px;
    color:grey;
    line-height: 1.5;
    font-weight: 600;
    word-spacing: 2px;
    padding-top: 30px;
}
.faq ul li{
    margin:33px;
    color: white;
    font-weight: 700;
    font-size: 24px;
   

}
/* question end */

/* team start */

.team{
   
    background-color: #0c0324;
    background-image:url(../img/elipse-top-left.png) ;
    padding: 100px 200px;
    font-family: rajdhani;
    background-repeat: no-repeat;
    background-size: contain;
}

.team-title a{
    color:#FEAD10;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.team-title{
    text-align: center;
}
.team-title h1{
    font-size: 75px;
    font-weight: 600;
}
.team-title p{
    color:grey;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 100px;

}
.team-content{
    background-color: #0c0324;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.team-content span{
    color:white;
    font-weight: 600;
    text-align: center;
    margin-bottom: 05px;
    font-size: 18px;
}
.team-content a{
    color:grey;
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}
.team-content div{
    margin-left: 15px;
    margin-right: 10px;
}
   
.team-content i{
    font-size: 20px;
    color:white;
    text-align: center;
    transition: 0.5s;
    background-color: #AB17DF;
    display: inline-block;
    margin:12px;
    cursor: pointer;
    border-radius: 50%;
    padding: 7px;
   
   
}
.team-content i:hover{
    color:#AB17DF ;
    background-color: white;
    transform: translateY(-5px);
}








/* team end */

/* people start */
.People{
    background-color: #0c0324;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/elipse-bottom-right.png);
    font-family: rajdhani;
    padding: 100px 200px;
    /* overflow: hidden; */
   


}
.People .people-left a{
    color: #FEAD10;
    
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
}
.People .people-left h3{
    font-size: 75px;
    font-weight: 600;
    line-height: 1;

}
.People .people-left p{
    font-size: 18px;
    color:grey;
    font-weight: 600;
    margin-bottom: 40px;
}
.People .people-left img{
    border-radius: 10%;
    margin-bottom: 30px;
}
.People button{
    text-transform: capitalize;
    border: 0;
    width:210px;
    height: 60px;
    display: block;
    /* justify-content: ; */
    letter-spacing: 3px;
    border-radius: 10px;
    padding: 5px;
    background: rgb(19,68,201);
    background: linear-gradient(90deg, rgba(19,68,201,1) 0%, rgba(149,29,253,1) 63%, rgba(241,69,252,1) 100%);
    color:white;
    font-weight: var(--fw-600);
  
    font-family: var(--font1);
    font-size: var(--fs-18);
    transition: 0.5s; 
    


}
.People button:hover{
    transform: translateY(-08px);
}


.People .people-right{
    background-color:rgba(128, 128, 128, 0.107);
    padding:100px 80px;
    border-radius: 10px;
    
}
.People .people-right span{
    text-align: center;
    font-size: 14px;
    display: block;
    color:grey;
    font-weight: 700;
}
.People .people-right img{
    display: block;
    margin: 0 auto;
}

.People .people-right p{
    font-size: 20px;
   
    color:grey;
    /* height: inherit; */
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.People .people-right h5{
    text-align: center;
    font-size: 18px;
    padding: 5px 0;



    /* opacity: calc(); */
}
.People .people-right h5{
    font-size: 34px;
    text-align: center;


    /* max-width: ; */
    padding: 10px 0 20px;
}

/* people end */

/* cart start */

.cart{
    font-family: rajdhani;
    background-image: url(../img/bg-boxstar.png);
    background-size: cover;
    padding: 100px 200px;
    background-color: #0c0324;
   
}
.cart .team-content{
    background-color: transparent;
    padding: 12px;
}
.cart .team-content a{
    font-weight: 700;
}
.cart .team-content button{
    display: block;
    margin: 0 auto;
    text-transform: capitalize;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #AB17DF;
    color: white;
    padding: 8px 9px;
    font-size: 17px;
   
    font-weight: 700px;
}

/* cart end */

/* blog start */

.blog{
    font-family: rajdhani;
    background-color: #0c0324;
    padding: 100px 200px;
}
.blog .four-box{
    text-align: center;
}



.blog .four-box a{
    display: block;
    color:rgb(165, 161, 161);
    text-decoration: none;
    /* pad: ; */
    margin-bottom: 5px;
    
}
.blog .four-box span{
    color:#AB17DF;
    font-size: 20px;
}




.blog .four-box p{
    padding: 10px 20px;
    text-align: center;
    /* color: #0c0324; */
    background-color: transparent;
}

/* blog end */

/* footer start */

footer{
    padding: 100px 200px 0;
    background-color: #0c0324;
    
    font-family: rajdhani;
}
footer .main{
    background: rgb(19,68,201);
    background: linear-gradient(90deg, rgba(19,68,201,1) 0%, rgba(149,29,253,1) 63%, rgba(241,69,252,1) 100%);
    padding: 60px;


    border-radius: 10px;
    /* background-image: url(../img/noise-footer.png); */
}
footer p{
    font-size: 18px;
    margin-bottom: 20px;
    color:white;
    font-weight: 500;
}


footer a{
    font-size: 18px;
    color: #FEAD10;
    text-decoration: none;
    font-weight: 600;
}

footer h1{
    font-size: 35px;
    margin: 10px 1px;
}

footer input{
    padding: 16px ;
    font-size: 19px;
    text-transform: capitalize;

}
footer button{
    background: rgb(19,68,201);
    font-weight: 600;
    /* width: ; */
    margin-left: 20px;
    color:white;


    background: linear-gradient(90deg, rgba(19,68,201,1) 0%, rgba(149,29,253,1) 63%, rgba(241,69,252,1) 100%);
    padding: 20px 32px;
    font-size: 18px;
   /* text-decoration: ; */
    border: 0;
}
footer h5{
    font-size: 24px;
    margin-bottom: 25px;
    margin-left: 20px;
}
footer li{
    font-size: 18px;
    margin-bottom: 8px;
    margin-left: 20px;
    font-weight: 500;
    

}
footer i{
    margin-right: 20px;
    transition: 0.5s;
}
footer i:hover{
    color:#FEAD10;
    transform: translateY(-5px);
}
footer h5{
    display: block;
}

footer li:hover{
    color:#FEAD10;
    cursor: pointer;
}
footer .last{
    margin: 22px 0;
    color: grey;
}
footer .last p{
    color: gray;
}


/* footer end */